<a href="https://colab.research.google.com/github/yajuna/computer-assisted-calculus/blob/master/week2_limits_sequences.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This notebook is for both your in class exercises, and your Python lab2. By Thursday, make sure to submit the in class work portion; if we do not finish the Python Lab2 portion, please finish it at home and submit the whole notebook.

## Below is the in class portion of the notebook

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

import datetime
now = datetime.datetime.now()

# print versions of softwares and time when run
import sys
print("Python 3 version is", sys.version)
print("Numpy version is", np.__version__)
import matplotlib
print("Matplotlib version is", matplotlib.__version__)
print("Code run at", now)

### This week we discuss limits. A natural place to start is sequences.

We have looked at the sequence of natural numbers: $a_n = n$. Then $a_0 = 0$, and $a_{150}=150$. We take $n$ to be bigger and bigger, and think what the value of $a_n$ would be. Here we consider the sequence $a_n=3n$. Think what $a_{17}$ is. To make the description easier, we introduce definition in Python.

In [ ]:
def a(n):
  return 3 * n

In [ ]:
## How do you find a(35)?

Exercise: define your own function. Let's say $a_n = n +2$.

In [ ]:
## define a_n = n+2

We use a `for loop` to get a list of numbers to plot. You can use `append` to add items to an empty list.

In [ ]:
# define the natural numbers for plotting

numbers = [i for i in range(1,150)]

In [ ]:
sequence = []
for n in numbers:
  sequence.append(a(n))

In [ ]:
### print the first 20 numbers in sequence

### Exercise: Append numbers 150 to 170 to the above list using similar commands.

In [ ]:
## your code here

In [ ]:
# visualize
plt.xlabel('$n$')
plt.ylabel('$a_n$')
# plt.ylim(numbers[0],100)
# plt.xlim(numbers[0],numbers[-1])
plt.plot(numbers, sequence,'r*', label='$a_n$')
plt.legend()
plt.show()

## We test a few more limits defined as a function of $n$.

We define a list of number from 1 to 999.

In [ ]:
large_numbers = list(range(1,1000))
print("the list of large numbers is", large_numbers)

### We define two more sequences:

$a_1(n)=\frac{1}{n}$ and $a_2(n)=\frac{n}{n+1}$.

In class, we guessed that $\frac{1}{n}$ eventurally goes to zero, and using that, we concluded $\frac{n}{n+1}$ will go to 1 when $n$ goes to infinity.

In [ ]:
def a1(n):
  return 1./n

def a2(n):
  return n/(n + 1.)

### We can define sequences using the for loop as before.

In [ ]:
sequence1 = [a1(i) for i in large_numbers]
sequence2 = [a2(i) for i in large_numbers]

In [ ]:
# visualize
plt.xlabel('natural number $a_n$')
plt.ylabel('natural number n')
plt.plot(large_numbers, sequence1,'g', label='$a_n$')
plt.legend()
plt.show()

In [ ]:
# visualize
plt.xlabel('n')
plt.ylabel('$a_n$')
plt.plot(large_numbers, sequence2,'b', label='$a_n$')
plt.legend()
plt.show()

### We test with sequences that bounce up and down.

In [ ]:
def bounce(n):
  return (-1)**n * 1/n

In [ ]:
sequence3 = [bounce(i) for i in numbers]

In [ ]:
# visualize
plt.xlabel('n')
plt.ylabel('$a_n$')
plt.plot(numbers, sequence3,'b', label='$a_n$')
plt.legend()
plt.show()

### Test the limit at certain points for the Topologist's sine curves

In [ ]:
def topologist_sine_curve(x):
  return np.sin(np.pi/x)

We take $x$ to be small numbers approaching to zero, let $x=\frac{1}{n}$

In [ ]:
sequence_topologist = [topologist_sine_curve(1./n) for n in numbers]

In [ ]:
# visualize
plt.xlabel('n')
plt.ylabel('$a_n$')
# plt.xlim(0,5)
plt.ylim(-1,1)
plt.plot(numbers, sequence_topologist,'k-', label='$a_n$')
plt.grid()
plt.legend()
plt.show()

### Test topologist sine curve with other values of $x$. Change the number of points in $x$ to observe the clustering at $x=0$.

In [ ]:

# Generate x values
x = np.linspace(0.0001, 2 * np.pi, 1000)
# Calculate y values for the Topologist's sine curve
y = np.sin(1 / x)

# Plotting
plt.plot(x, y, label='Topologist\'s Sine Curve')
plt.title('Topologist\'s Sine Curve')
plt.xlabel('x')
plt.ylabel('sin(1/x)')
plt.ylim(-1, 1)
plt.axhline(0, color='black',linewidth=0.5, ls='--')
plt.axvline(0, color='black',linewidth=0.5, ls='--')
plt.grid()
plt.legend()
plt.show()

## Below is the Lab portion- submit the pdf notebook after you are done with exercises below.

Consider the sequence $a_n = \frac{n}{n^2+1}$. What do you think the limit would be? Run the code and observe the limit.

In [ ]:
def seq(n):
  return n/(n**2 + 1)

In [ ]:
seq_list = [seq(i) for i in large_numbers]

In [ ]:
# visualize
plt.xlabel('n')
plt.ylabel('$a_n$')
plt.plot(large_numbers, seq_list,'b', label='$a_n$')
plt.legend()
plt.show()

Consider the sequence $a_n=\frac{n^2+4}{4n^2-4n+3}$. What do you think the limit will be when $n$ gets really big? Run the code below.

In [ ]:
def seq1(n):
  return (n**2+4)/(4 * n**2 - 4 *n +3)

In [ ]:
seq1_list = [seq1(i) for i in large_numbers]

In [ ]:
# visualize
plt.xlabel('n')
plt.ylabel('$a_n$')
plt.ylim(0,1)
plt.plot(large_numbers, seq1_list,'b', label='$a_n$')
plt.legend()
plt.show()

Consider the sequence $a_n=\frac{n^3+4}{2n^2+3n}$. What do you think the limit will be when $n$ gets really big? Run the code below.

In [ ]:
def seq2(n):
  return (n**3 + 4)/(2 * n**2 + 3 *n)

In [ ]:
seq2_list = [seq2(i) for i in large_numbers]

In [ ]:
# visualize
plt.xlabel('n')
plt.ylabel('$a_n$')
plt.plot(large_numbers, seq2_list,'b', label='$a_n$')
plt.legend()
plt.show()

In [ ]:
def seq3(n):
  return (n**5 + 4)/(2 * n**2 + 3 *n)

In [ ]:
seq3_list = [seq3(i) for i in large_numbers]

In [ ]:
# visualize
plt.xlabel('n')
plt.ylabel('$a_n$')
plt.plot(large_numbers, seq3_list,'b', label='$a_n$')
plt.legend()
plt.show()